.Conteiner {
    height: 720px;
    padding-top:70px;
    padding-bottom:106px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.InfoConteiner {
    height: 355px;
    width: 530px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Blockquote {
    display: flex;
    flex-direction: column;
}

.InfoText {
    margin:28px 0px 75px 0px;
    color: #4A5568;
    font-family: "Inter", sans-serif;
    font-weight: 400;

    line-height: 2;
}

.ButtonStart {
    width: 175px;
    height: 52px;

    border: 0px;
    border-radius: 5px;
    color: white;
    background-color: #3D63EA;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    cursor: pointer;
}

/* бляяяяя */

.Thin{
    font-size: 54px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

.Bold{
    font-size: 54px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
}

.FirstGradient{
    font-size: 45px;
    font-family: "Inter", sans-serif;
    font-weight: 700;

    background-image: linear-gradient(#DE4396, #ecb8d4);
}   

.SecondGradient{
    font-size: 54px;
    font-family: "Inter", sans-serif;
    font-weight: 800;

    background-image: linear-gradient(to bottom left, #F7666F,#9A68B8, #9865eb);

}   

.SettingsGradient {
    -webkit-text-fill-color: transparent;
    background-clip: text;
    box-decoration-break: clone;

}